#Telosys-Tools properties
#Mon Jun 12 14:59:09 BRT 2017
ProjectVariable.PROJECT_NAME=servicosGerais-front
DOC=doc
RES=src/main/resources
ProjectVariable.MAVEN_GROUP_ID=group.to.be.defined
ROOT_PKG=org.demo
TemplatesFolder=TelosysTools/templates
WEB=src/main/webapp
DownloadsFolder=TelosysTools/downloads
RepositoriesFolder=TelosysTools
ProjectVariable.MYVAR=foo
ProjectVariable.REST_BASE_URL=http\://localhost\:8989/servicosGerais/rest
SRC=src/main/java
ENTITY_PKG=org.demo.bean
ProjectVariable.MAVEN_ARTIFACT_ID=servicosGerais-front
TEST_RES=src/test/resources
ProjectVariable.PROJECT_VERSION=0.1
LibrariesFolder=TelosysTools/lib
ProjectVariable.DBID=1
TEST_SRC=src/test/java
ProjectVariable.V2=22
TMP=tmp
