		<fieldset class="col-sm-12 bordure">
			<legend class="legende">{{ 'ServicoRoupas' | translate }}</legend>
		
			<div ng-include src="'partials/message-include.html'"></div>
			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{ 'servicoRoupas.id' | translate }}</th>
						<th>{{ 'servicoRoupas.quantidadePecas' | translate }}</th>
						<th><a class="btn btn-info" href='#/servicoRoupas/new'>{{ 'create' | translate }}</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="servicoRoupas in servicoRoupass">
						<td>{{servicoRoupas.id}}</td>
						<td>{{servicoRoupas.quantidadePecas | number }}</td>
						<td><a class="btn btn-info" href="#/servicoRoupas/{{servicoRoupas.id}}">{{ 'edit' | translate }}</a></td>
					</tr>
				</tbody>
			</table>
		</fieldset>
